<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 数据库驱动包位置 -->
    <classPathEntry
            location="C:\Users\chenlei\.m2\mysql\mysql-connector-java\5.1.21\mysql-connector-java-5.1.21.jar" />

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <!-- TKmybatis配置 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!-- 数据库链接URL、用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/xingzheplus?useUnicode=true&amp;characterEncoding=utf-8" userId="root" password="123456" />
        <!-- 生成模型的包名和位置 -->
        <javaModelGenerator targetPackage="github.vabshroo.xingzheplus.pojo" targetProject="src/main/java" />
        <!-- 生成的映射文件包名和位置 -->
        <sqlMapGenerator targetPackage="mybatis.mapping" targetProject="src/main/resources" />
        <!-- 生成mapper的包名和位置 -->
        <javaClientGenerator targetPackage="github.vabshroo.xingzheplus.dao" targetProject="src/main/java" type="XMLMAPPER" />

        <!-- 要生成的那些表 -->
        <!--<table tableName="user_info"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="userid" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="user_info_ext"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="user_workout"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="workout_id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="workout_prop"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>-->
        <table tableName="workout_view"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="workout_id" sqlStatement="Mysql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>